parameters:
	ignoreErrors:
		# Typecasting to resource is too complicated
		- '#^Parameter \#1 \$fp of function (fputcsv|rewind|fread|fclose|rtrim) expects resource, resource\|false given\.$#'

		# Better not to solve that
		- '#^Only booleans are allowed in a negated boolean, int given\.$#'
